/* Universal Style */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    cursor: default;
}
button {
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn-style {
    margin: .3em .25em;
    padding: .1em;
}

/* Header Style ----------------- Start */
header {
    justify-content: space-between;
    padding: 2em;
    flex-basis:33%;
}

.header-child {
    flex-basis: 33%;
    align-items: center;
    text-align: center;
    margin: auto;
}

#highscore {
    cursor:pointer;
}


/* Header Style ------------------- End */
main {
    width: 70%;
    height: 100%;
    margin:auto;
}

.button-holder {
    margin: 1rem 0;
    display: flex;
    flex-flow: column;
}

.hidden {
    display:none;
}

.hidden-2 {
    visibility:hidden;
}

.show {
    display: flex;
}

/* Question Pages --------------- Start */
.question-btn {

}

.correct-answer {
    background-color: green;
}

/* Highscores List -------------- Start */
.highscore-list-h3 {
    margin: .25em 0;
    flex-basis: 25%;
}

.row-div {
    flex-wrap: nowrap
}