/* Universal Style */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* Header Style ----------------- Start */
header {
    justify-content: space-between;
    padding: 2em;
}
/* Header Style ------------------- End */